# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/

# Ignore logs and database files
*.log
*.db
